<form action="<%= action_path %>" method="post">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <br/>
  <label>
    Username:
    <br/>
    <input type="text" name="user[username]" value="<%= user.username %>" id="Username">
  </label>
  <br/>
  <label>
    Password:
    <br/>
    <input type="password" name="user[password]" value="<%= user.password %>" id="Password">
  </label>
  <br/>
  <input type="submit" value="<%= button_text %>">
</form>
